.avatar {
    border: 0.4rem solid transparent;
    padding: 0.4rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.avatar img {
    height: 6rem;
    transition: 0.5s ease-in-out;
}

.selected {
    border: 0.4rem solid #2c8ed9;
}

.submit-btn {
    background-color: #2575bc;
    color: rgb(236, 236, 236);
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.submit-btn:hover {
    background-color: #040a42;
    color: rgb(241, 239, 239);
}